ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0;
	margin: 0;
}

li {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	text-transform: capitalize;
}
